@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:ital,wght@0,300;0,400;1,100;1,500&display=swap');




body {
  background-color: #faf9f9;
  font-size: 62.5%;
  margin-top: 10rem;
}

h1.app-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.8rem;
  text-align: center;
  color: #333533;
  text-shadow: 2px 1px 0px rgb(212, 212, 212);
}

.App {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #333533;
  border-radius: 7px;
  padding: 2rem;
  box-shadow: rgb(33, 37, 41) 0px 6px 6px 0px;
}


p.text {
  font-family: 'Roboto', sans-serif;
  color: #fdfffc;
  font-weight: 400;
  text-align: center;
  font-size: 1.6rem;
}
p.author {
  color: #FF8E53;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.4rem;
}


.bottom-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 62.5%;
    margin-top: 5rem;
  }

  p.text {
    font-size: 1.2rem;
  }
  p.author {
    font-size: 1.0rem;
    margin-bottom: 2rem;
  }

  h1.app-title {
    font-size: 1.8rem;     
  }
}

